body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: paleturquoise;
}
.center{
    margin: auto;
    width: 80%;
}
h1 {
    text-align: center;
    padding: 50px;
    background-color: darkturquoise;
    color: white;
}

.buttons {
    background-color: teal;
    color: white;
    width: 90%;
    height: auto;
    min-height: 50px;
    font-size: 20px;
}

.buttons:hover  {
  opacity: 0.7;
}

.column {
    float: left;
    width: 33.33%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
    max-width: 1000px;
}

@media screen and (max-width: 600px) {
    .buttons {
        float: none;
        display: block;
  }
}

.responsive {
        max-width: 90%;
        height: auto;
        padding: 2px;
}

.centerText {
    text-align: center;
}